ENV=local

# Server
SERVER_PORT=50051
SERVER_TIMEOUT=10

# TLS
TLS_SERVER=./server.example.key
TLS_CERT=./server.example.crt

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sso_db
SSL_MODE=disable

# Redis
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=payment-system

# JWTKeys
JWT_KEY_PRIVATE=./private.example.pem
JWT_KEY_PUBLIC=./public.example.pem