ENV=local

# Server
SERVER_PORT=50051
SERVER_TIMEOUT=10

# TLS
TLS_CA=./security/ca.crt
TLS_SERVER=./security/sso.key
TLS_CERT=./security/sso.crt

# Database
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=sso_db
SSL_MODE=verify-ca
DB_ROOT_CERT=/etc/ssl/postgres/ca.crt
DB_CERT=/etc/ssl/postgres/client.crt
DB_KEY=/etc/ssl/postgres/client.key

# Redis
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

# JWT
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h
JWT_ISSUER=payment-system

# JWTKeys
JWT_KEY_PRIVATE=./security/private.pem
JWT_KEY_PUBLIC=./security/public.pem